/* @import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap'); */

:root{
  --bg-color: #282C34;
  --text-color: #ffff;
  --yellow-accent: #E5C07B;
  --red-accent: #e06c75;
  --blue-accent: #61AfEF;
}

body {
  padding: 20px;
  margin: 50px;
  font-family: 'Radio Canada', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Containers */
.site-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.goat{
  display: flex;
  align-self: center;
  justify-content: center;
  height: 100px;
  width: fit-content;
}

/* Doesn't work :( */
/* .goat img:hover{
  scale: (200%);
  transition: .2s;
} */

.bingo-card-container {
  display: flex;
  align-self: center;
  min-width: 30rem;
  max-width: 30%;
  border: 2px dotted var(--blue-accent);
}

/* Could not, for the life of me, get this to work */
/* Okay fine, I didn't try that hard. */
/* @media only screen and (max-width: 480) {
  body{
    background-color: red;
  }
} */

.task-info-container {
  display: flex;
  align-self: center;
  max-width: 30%;
  text-align: center;
  font-size: larger;
}

.footer{
  text-align: center;
}

a{
  color: var(--text-color);
  text-decoration: underline dotted var(--red-accent) 2px;
  transition: .2s;
}

a:hover{
  transition: .2s;
  color: var(--blue-accent);
}

 
/* Bingo Card Table */
table 
{
  table-layout: fixed;
  width: 100%;
}

th {
  padding: 2rem;
  font-size: larger;
  color: var(--red-accent);
}

tbody td {
  text-align: center;
  padding: 1rem;
  transition: .2s;
}

tbody td:hover {
  transition: .2s;
  transform: scale(110%);
  color: var(--yellow-accent);
}

tbody td img {
  width: 200;
  height: 200;
}