/* @import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap'); */

:root{
  --bg-color: #0D1F2D;
  --text-color: #8cafc9;
}

body {
  padding: 20px;
  margin: 50px;
  font-family: 'Radio Canada', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Containers */
.site-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.bingo-card-container {
  display: flex;
  align-self: center;
  min-width: 30rem;
  max-width: 30%;
  border: 2px dotted rgb(96, 139, 168);
}

@media (min-width: 480) {
  .bingo-card-container{
    width: auto;
  }
}

.task-info-container {
  display: flex;
  align-self: center;
  min-width: 30rem;
  max-width: 30%;
  text-align: center;
}

.task-info-container a{
  color: var(--text-color);
  text-decoration: underline dotted 2px;
}

 
/* Bingo Card Table */
table 
{
  table-layout: fixed;
  width: 100%;
}

th {
  padding: 2rem;
  font-size: larger;
}

tbody td {
  text-align: center;
  padding: 1rem;
}

tbody td:hover {
  transition: .2s;
  transform: scale(110%);
  color: rgb(221, 228, 130)
}

tbody td img {
  width: 200;
  height: 200;
}